## Test your Sroka set up

The purpose of this notebook is to check whether you are able to connect with given API's that Sroka provides and that your credentials are correctly saved in config.ini file.

Where it is possible, we have provided a generic query, however some API's require to pass id's in order to get any results. In that case please define the variables' values first.

In [2]:
# GA API
from sroka.api.ga.ga import ga_request
# GAM API
from sroka.api.google_ad_manager.gam_api import get_data_from_admanager
# Qubole API (first of the options)
from sroka.api.qubole.query_result_file import get 
# Qubole API (second of the options)
from sroka.api.qubole.qubole_api import done_qubole, request_qubole
# MOAT API
from sroka.api.moat.moat_api import get_data_from_moat
# Rubicon API
from sroka.api.rubicon.rubicon_api import get_data_from_rubicon
# Athena API
from sroka.api.athena.athena_api import query_athena, done_athena
# Google sheets API
from sroka.api.google_drive.google_drive_api import google_drive_sheets_read, \
    google_drive_sheets_create, google_drive_sheets_write, google_drive_sheets_upload
# S3 API
from sroka.api.s3_connection.s3_connection_api import s3_download_data
# MySQL API
from sroka.api.mysql.mysql import query_mysql

## Athena

In [ ]:
df = query_athena("""
    SELECT '2019-03-01' as date
    """)

df

## S3

In [ ]:
# input a path to data on your s3, it is needed to perform any query
s3_folder = ''

s3_download_data('s3://{}'.format(s3_folder), prefix=True, sep=';')

## Google Ad Manager

In [ ]:
start_day = '01'
end_day='04'
start_month = '03'
end_month = '03'
year = '2019'

query = ""
dimensions = ['DATE']
columns = ['TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS',
           'TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS']
start_date = {'year': year,
              'month': start_month,
              'day': start_day}
stop_date = {'year': year,
             'month': end_month,
             'day': end_day}

df_gam = get_data_from_admanager(query, dimensions, columns, start_date, stop_date)
df_gam.head()

## Google Analytics

In [ ]:
# your account id, it is needed to perform any query
your_id = ''

request = {
"ids" : "ga:{}".format(your_id),
"start_date" : "2019-03-01",
"end_date" : "2019-03-04",
"metrics" : "ga:pageviews",
"filters" : "ga:country=='PL'",
"segment" : "",
"dimensions" : "ga:day"
}

df_ga = ga_request(request, print_sample_size=True, sampling_level='FASTER')
df_ga.head()

## Google Sheets

In [ ]:
new_sheet = google_drive_sheets_create('new_sheet')

google_drive_sheets_write(df, new_sheet)

## Moat

In [ ]:
input_data_moat = {
    'start' : '20190301',
    'end' : '20190304',
    'columns' : ['date','impressions_analyzed']
}

df_moat = get_data_from_moat(input_data_moat, 'moat')
df_moat.head()

## Qubole

In [ ]:
presto_query = """
        SELECT '2019-03-01' as date;
        """

data_presto = request_qubole(presto_query, query_type='hive')
data_presto.head()

## Rubicon

In [ ]:
input_data = {
    'start' : '2018-08-23T00:00:00-07:00',
    'end' : '2018-08-23T23:59:59-07:00',
    'dimensions' : ['date', 'advertiser'],
    'metrics' : ['paid_impression',
                 'starts',
                 'completes'
                ],
    'filters' : ['dimension:country_id==PL'
                ]
}


data = get_data_from_rubicon(input_data)
data.head()

## MySQL

In [3]:
df = query_mysql("SELECT * FROM clan LIMIT 10")
df.head()

,clan_acc,id,previous_id,description,author,comment,created,updated
0,CL00001,tRNA,None,tRNA clan,Gardner PP,The tRNA clan contains the RNA families tRNA a...,2014-06-02 15:17:41,2014-06-02 15:18:18
1,CL00002,RNaseP,None,RNaseP clan,Gardner PP,The RNaseP clan contains the RNA families RNas...,2014-06-02 15:18:19,2014-06-02 15:18:18
2,CL00003,SRP,None,SRP clan,"Gardner PP, Burge S",The SRP clan contains the RNA families for Met...,2014-06-02 15:18:20,2014-06-02 15:18:19
3,CL00004,Telomerase,None,Telomerase clan,Gardner PP,The Telomerase clan contains the RNA families ...,2014-06-02 15:18:21,2014-06-02 15:18:20
4,CL00005,U1,None,U1 clan,Gardner PP,"The U1 clan contains the RNA families U1, U1_y...",2014-06-02 15:18:22,2014-06-02 15:18:21